<template>
	<div>
		<div class="row  pull-right" style="position: relative;top: 5px">
			<div class="col-lg-12">
				<button
					type="button"
					class="btn btn-secondary"
					data-toggle="modal"
					data-target="#date_filter"
				>
					<i class="fa  fa-filter text-light"> Date Filter</i>
				</button>
			</div>
		</div>

		<div class="modal fade" ref="dataFilter" id="date_filter">
			<form @submit.prevent="performSubmit">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div
						class="modal-content mx-auto"
						style="width: 400px"
						v-click-outside="hideModal"
					>
						<div class="modal-header">
							<h5 class="modal-title">DATE FILTER (MM/DD/YYY)</h5>
							<button
								type="button"
								class="close"
								data-dismiss="modal"
								aria-label="Close"
							>
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group">
										<label>From</label>
										<input
											type="date"
											required
											class="form-control"
											v-model="from"
										/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group">
										<label>To </label>
										<input
											type="date"
											required
											class="form-control"
											v-model="to"
										/>
									</div>
								</div>
							</div>
							<input type="hidden" name="id" />
						</div>
						<div class="modal-footer pull-left">
							<button
								type="button"
								class="btn btn-light custom-btn-default"
								data-dismiss="modal"
							>
								Close
							</button>
							<button
								type="submit"
								class="btn custom-btn-red btn-danger"
							>
								Submit
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>

<script>
export default {
	name: "DateFilter",
	data() {
		return {
			from: moment(new Date()).format("YYYY-MM-DD"),
			to: moment(new Date()).format("YYYY-MM-DD"),
		};
	},

	methods: {
		performSubmit() {
			this.$emit("dateFilter", { from, to });
		},

		hideModal() {
			$("#date_filter").modal("hide");
		},
	},
};
</script>
