<template>
  <div>
    <!-- <template v-if="$route.params.id == null  ||  editFileData != null || dataLoadFiles"> -->
    <b-form-file
      ref="images"
      @change="getFiles($event.target.files)"
      :multiple="multiple == false ? false : true"
      size="md"
      accept=".jpg, .png, .pdf, .jpeg, .xlsx, .csv, .xlsb, .xlm, .xls"
    >
      <template slot="file-name" slot-scope="{ names }"> </template>
    </b-form-file>

    <table class="table mt-3 filerows">
      <tbody>
        <template>
          <tr v-for="file in dataLoadFiles">
            <td>
              <b-link :href="parseAppUrl(file.path)" target="_blank">{{
                file.file_name
              }}</b-link>
            </td>

            <td>
              <b-link
                href="JavaScript:void(0);"
                @click="removeFileDispatch(file.id)"
              >
                <i class="fa fa-times text-danger"></i>
              </b-link>
            </td>
          </tr>
        </template>

        <template>
          <tr v-for="(file, index) in allfiles">
            <td>
              <b-link
                href="javascript:void(0)"
                @click="DownloadFile(file.name, index)"
                >{{ file.name }}</b-link
              >
            </td>
            <td>
              <b-link href="JavaScript:void(0);" @click="removeFile(index)"
                ><i class="fa fa-times text-danger"></i
              ></b-link>
            </td>
          </tr>
        </template>
      </tbody>
    </table>

    <b-modal id="modal-center" centered hide-footer hide-header>
      <p class="text-center">File uploading...</p>
      <b-progress
        :value="progress_bar_value"
        :max="progress_bar_max"
        show-progress
        class="mb-3"
      ></b-progress>
    </b-modal>
  </div>
</template>

<script>
import SkeletonBox from "@/views/components/Skeleton.vue";

export default {
  name: "FileUpload",
  props: ["editFileData", "multiple"],
  components: {
    SkeletonBox,
  },

  data() {
    return {
      allfiles: [],
      progress_bar_value: 0,
      progress_bar_max: 0,
      dataLoadFiles: null,
      isLoading: false,
    };
  },

  methods: {
    getFiles(files) {
      // this.dataLoadFiles = null;

      var newFileList = Array.from(files);

      newFileList.map((val) => {
        this.allfiles.push(val);
      });
    },

    async uploadFiles(data, payload) {
      if (this.allfiles.length === 0) {
        return vm.popUpToast("Data saved successfully!", "success");
      }

      this.progress_bar_max = this.allfiles.length;

      await this.$bvModal.show("modal-center");

      for (let val of this.allfiles) {
        var formData = new FormData();

        formData.append("file", val);

        Object.keys(data).forEach((key) => {
          formData.append(key, data[key]);
        });

        await this.$store
          .dispatch(payload, formData)
          .then((response) => {
            this.progress_bar_value += 1;
          })
          .catch((error) => {
            vm.popUpToast(JSON.stringify(error.message), "error");
          });
      }
      this.progress_bar_value = 0;
      await this.$bvModal.hide("modal-center");
      this.editFileData != null && this.getFileLists();
      this.allfiles = [];
      vm.popUpToast("Data saved successfully!", "success");
    },

    calculateProgressValue(val) {
      this.progress_bar_value = val;
    },

    removeFile(index) {
      Swal.fire(vm.swalFileRemove).then((result) => {
        if (result.value) {
          var newFileList = Array.from(this.allfiles);
          newFileList.splice(index, 1);
          this.allfiles = newFileList;
        }
      });
    },

    DownloadFile(fileName, index) {
      if (
        !window.File ||
        !window.FileReader ||
        !window.FileList ||
        !window.Blob
      ) {
        alert("The File APIs are not fully supported in this browser.");
        return;
      }

      let file = this.allfiles[index];
      const blob = new Blob([file], { type: file.type }); // change resultByte to bytes
      const fileURL = URL.createObjectURL(blob);
      window.open(fileURL);
    },

    parseAppUrl(val) {
      return vm.appUrl + val;
    },

    removeFileDispatch(val) {
      Swal.fire(vm.swalFileRemove)
      .then((result) => {
        if (result.value) {
          this.$store
            .dispatch("global/removeFile", val)

            .then((response) => {
              this.getFileLists();

              vm.popUpToast(response.data.success, "success");
            });
        }
      });
    },

    async getFileLists() {
      await this.$store.dispatch("global/getFileLists", this.editFileData);

      this.dataLoadFiles = this.$store.getters["global/fileLists"];
    },
  },

  watch: {
    editFileData: {
      handler(val) {
        val != null && this.getFileLists();
      },

      immediate: true,
    },
  },
};
</script>
