

<template>
	<div ref="exportPdfWrapper" style="position: absolute; bottom: 9999px;">
		<!-- <div ref="exportPdfWrapper" > -->
			<div ref="exportPdf" style="width:750px;">

				<b-card class="pb-5 pt-2">
					<b-container>
						<b-row>
							<b-col lg="4" class="mx-auto">
								<img src="@/assets/custom-img/MOM'S-CLINIC.png" class="w-100" />
							</b-col>
						</b-row>

					<!-- 	<div class="col-lg-12 mb-2 mt-3" style="height: .5px; background: rgba(168,168,168,.3)">
						</div> -->

						<div class="pr-3 pl-3 mt-2" v-if="info">
							<b-row  >
								<b-col lg="6">
									<div class="mb-3">
										<p class="fontCalibri m1-2" style="font-weight: bold;">NAME:</p>
									<p class="fontCalibri text-uppercase mb-0">{{info.name}}</p>
									</div>
									<div>
										<p class="fontCalibri m1-2" style="font-weight: bold;">DATE OF BIRTH:</p>
										<p class="fontCalibri text-uppercase mb-0">{{info.date_of_birth}}</p>
									</div>
								</b-col>

								<b-col lg="6 ">
									<div class="pull-right">
										<div class="mb-3">
											<p class="fontCalibri m1-2" style="font-weight: bold;">DATE:</p>
											<p class="fontCalibri text-uppercase mb-0">{{dateNow}}</p>
										</div>

										<div v-if="info.tel_no || info.mobile_no">
											<p class="fontCalibri m1-2" style="font-weight: bold;">CONTACT NUMBERS:</p>
											<p class="fontCalibri text-uppercase mb-0">{{info.tel_no}}</p>
											<p class="fontCalibri text-uppercase mb-0">{{info.mobile_no}}</p>
										</div>
									</div>
								</b-col>

							</b-row>
						</div>

						<!-- <div class="pr-3 pl-3 mt-3">
							<b-row  style="background: #7C7D7F;">
								<b-col style="width:16%">
									<p class="fontCalibri nowrap tableHeader">CHECKUP DATE</p>
								</b-col>
								<b-col style="width:5%;">
									<p  class="fontCalibri tableHeader">WEIGHT</p>
								</b-col>
								<b-col style="width:5%;">
									<p  class="fontCalibri tableHeader">HEIGHT</p>
								</b-col>
								<b-col style="width:5%;">
									<p  class="fontCalibri tableHeader">TEMP</p>
								</b-col>
								<b-col style="width: 172px">
									<p  class="fontCalibri tableHeader">COMPLAINTS</p>
								</b-col>
								<b-col style="width: 172px">
									<p  class="fontCalibri tableHeader">FINDINGS</p>
								</b-col>
								<b-col style="width: 172px">
									<p  class="fontCalibri tableHeader">TREATMENT</p>
								</b-col>

							</b-row>
						</div> -->
<!--
						<div class="mt-2 pr-3 pl-3">
							<template v-if="records && records.length > 0">
								<b-row  v-for="(item, index) in records"  :key="index">


									<div class="col-lg-12 mt-2">
									</div>


									<b-col style="width:16%">
										<p class="fontCalibri text-center">{{ item.date_of_check_up }}</p>
									</b-col>
									<b-col style="width:5%">
										<p  class="fontCalibri text-center">{{ item.weight }} a</p>
									</b-col>
									<b-col style="width:5%" >
										<p  class="fontCalibri text-center">{{ item.height }} a</p>
									</b-col>
									<b-col style="width:5%">
										<p  class="fontCalibri text-center">{{ item.temperature }} a</p>
									</b-col>
									<b-col style="width: 172px">
										<p  class="fontCalibri">{{ item.complaints }}</p>
									</b-col>
									<b-col style="width: 172px">
										<p  class="fontCalibri">{{ item.findings }}</p>
									</b-col>
									<b-col style="width: 172px">
										<p  class="fontCalibri">{{ item.treatment }}</p>
									</b-col>

									<div class="col-lg-12 my-2" style="height: 1px; border-bottom: 1px solid #e4e7ea">
									</div>
								</b-row>
							</template>
						</div>
					-->


					<div class="pr-3 pl-3 mt-3">
						<div class="row">
							<div class="col-lg-12">
								<table class="w-100 tableRecords">
									<thead>
										<tr style="background: #7C7D7F;">
											<th><p style="width: 70px" class="fontCalibri nowrap tableHeader">CHECKUP DATE</p></th>
											<th><p  style="width: 45px" class="fontCalibri tableHeader">WEIGHT</p></th>
											<th><p  style="width: 45px"class="fontCalibri tableHeader">HEIGHT</p></th>
											<th><p  style="width: 45px" class="fontCalibri tableHeader">TEMP</p></th>
											<th><p   style="width: 120px"class="fontCalibri tableHeader">COMPLAINTS</p></th>
											<th ><p  style="width: 120px" class="fontCalibri tableHeader">FINDINGS</p></th>
											<th ><p  style="width: 120px" class="fontCalibri tableHeader">TREATMENT</p></th>
										</tr>
									</thead>
									<tbody v-if="records && records.length > 0">
										<tr  v-for="(item, index) in records" :key="index" style="border-bottom: solid 1px rgba(168,168,168,.3);">
											<td><p style="width: 70px" class="fontCalibri px-1">{{ item.date_of_check_up }}</p></td>
											<td><p style="width: 45px" class="fontCalibri px-1">{{item.weight}}</p></td>
											<td><p style="width: 45px" class="fontCalibri px-1">{{item.height}}</p></td>
											<td><p style="width: 45px" class="fontCalibri px-1">{{item.temperature}}</p></td>
											<td><p style="width: 120px" class="fontCalibri px-1">{{item.complaints}}</p></td>
											<td><p style="width: 120px" class="fontCalibri px-1">{{item.findings}}</p></td>
											<td><p style="width: 120px; " class="fontCalibri px-1">{{item.treatment}}</p>
											</td>

										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>





				</b-container>
			</b-card>
		</div>
	</div>
</template>

<script>

import { mapGetters } from "vuex";
import jsPDF from 'jspdf'
import domtoimage from 'dom-to-image';
export default {
	props : ['records', 'info'],
	data() {
		return {

		}
	},

	mounted() {


	},

	computed: {
		dateNow() {
			return moment(new Date()).format('MM-DD-YYYY');
		}

	},

	methods: {


		async exportPdf() {

			var el = this.$refs.exportPdf;

			const scale = 2;
			await domtoimage.toPng(el , {
				height: el.offsetHeight * scale,
				style: {
					transform: `scale(${scale}) translate(${el.offsetWidth / 2 / scale}px, ${el.offsetHeight / 2 / scale}px)`
				},
				width: el.offsetWidth * scale
			})
			.then(function (dataUrl) {

				var doc = new jsPDF('p', 'mm', 'a4', true);

				let imgWidth = 210 , pageHeight = 295;
				let imgHeight = el.offsetHeight * imgWidth / el.offsetWidth;
				let heightLeft = imgHeight;
				let position = 0;

				doc.addImage(dataUrl, 'PNG', 0, position, imgWidth, imgHeight+ 15, undefined,'FAST');
				heightLeft -= pageHeight;

				while(heightLeft >= 0) {
					position = heightLeft - imgHeight;
					doc.addPage();
					doc.addImage(dataUrl, 'PNG', 0, position, imgWidth, imgHeight + 15, undefined,'FAST');
					heightLeft -= pageHeight;
				}

				window.open(doc.output('bloburl'));

			})
			.catch(function (error) {
				console.error('oops, something went wrong!', error);
			});

		}


	},

};
</script>


<style scoped>

*{
	line-height: 1.2em;
}
.tableRecords {

}
.fontCalibri {
	font-weight: 500;
	font-family: Calibri, sans-serif;
	font-size: 8pt;
	margin-bottom: 0;
	padding: 0;
	color: black;
	text-overflow: wrap;
}
.tableHeader {
	margin: 0 5px;
	margin-bottom: 0 !important;
	color: white;
}
.card {

	background-color: transparent !important;
	border: none ;
}
.nowrap {
	white-space: nowrap;
}
p {
	margin-bottom: 5px;
}
hr {
	border:none;
	margin-top: 5px;
}
.custom-border {
	width: 100%;
	overflow: hidden;
	font-size: 14pt;
	white-space: nowrap;
	text-align: justify;
}
.custom-border:before {
	content: ".....................................................................................................................................................................................................................................................................................................................................................................................................";
}

</style>