<template>
	<div >
		<footer class="footer text-center" style="position: absolute">
			2017 &copy; Ample Admin brought to you by wrappixel.com 
		</footer>

	</div>
</template>

<script>
export default {
	name: 'Footer'

};
</script>