<template>
	<div>
		<ul class="nav" id="side-menu">
			<li style="padding: 70px 0 0;">
				<router-link to="/dashboard" class="waves-effect"><i class="fa fa-home fa-fw"
					aria-hidden="true"></i><b>Dashboard</b></router-link>
				</li>

				<li>
					<router-link to="/patients" class="waves-effect"><i class="fa fa-group fa-fw"
						aria-hidden="true"></i><b>Patients</b>
					</router-link>
				</li>
				<li>
					<router-link to="/patients/create" class="waves-effect m-l-30">Add Patient
					</router-link>
				</li>

				<!-- <li>
					<router-link to="/patients/recovery" class="waves-effect m-l-30">Records Recovery
					</router-link>
				</li> -->

				<li>
					<router-link to="/checkups" class="waves-effect"><i class="fa  fa-medkit fa-fw"
						aria-hidden="true"></i><b>Checkups</b>
					</router-link>
				</li>

				<li>
					<router-link to="/checkups/patient-checkup-records" class="waves-effect m-l-30">Patient Checkup Records
					</router-link>
				</li>

				
				<template v-if="isSuperAdmin">
					<li>
						<router-link to="/accounts" class="waves-effect"><i class="fa fa-user fa-fw"
							aria-hidden="true"></i><b>Accounts</b>
						</router-link>
					</li>

					<li>
						<router-link to="/accounts/create" class="waves-effect m-l-30">Add Account
						</router-link>

					</li>

					<!-- <li>
						<router-link to="/patients/recovery" class="waves-effect"><i class="fa fa-wrench fa-fw"
							aria-hidden="true"></i><b>Recovery / Delete</b>
						</router-link>
					</li> -->
				</template>

			</ul>
		</div>
	</template>

	<script>
	export default {
		name: 'NavbarSide',
		computed: {
			isSuperAdmin() {
				if(localStorage.getItem('role') === 'super-admin') {
					return true;
				}
				return false;
			}
		}
	};
	</script>