<template>
 <nav class="navbar navbar-default navbar-static-top m-b-0" style="padding: 0">
  <div class="navbar-header">
   <div class="top-left-part">
    <!-- Logo -->
    <a class="logo" href="/">
     <!-- Logo icon image, you can use font-icon also -->
     <b>
      <!--This is dark logo icon--><img src="@/assets/plugins/images/admin-logo.png" alt="home"
      class="dark-logo"/>
      <!--This is light logo icon--><img src="@/assets/plugins/images/admin-logo-dark.png" alt="home"
      class="light-logo"/>
    </b>
    <!-- Logo text image you can use text also --><span class="admin-text-hidden">
      <!--This is dark logo text--><img src="@/assets/plugins/images/admin-text.png" alt="home"
      class="dark-logo" />
      <!--This is light logo text--><img src="@/assets/plugins/images/admin-text-dark.png" alt="home"
      class="light-logo" />
    </span> 
  </a>
</div>
<!-- /Logo -->

<ul class="nav navbar-top-links navbar-right pull-right">
  <li class="nav-item">

   <a class="nav-toggler open-close" @click="toggleSidebar" href="javascript:void(0)">
    <i ref="menubarIcon" class="fa fa-bars"></i>
  </a>
</li>



<li class="nav-item dropdown  user-dropdown">
 <a class="nav-link profile-pic  dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
  <img class="img-xs img-circle"  width="36" src="@/assets/custom-img/user-logo.png" alt="Profile image"> 
</a>
<div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
  <div class="dropdown-header">
   <!-- <img class="rounded-circle" src="@/assets/plugins/images/users/varun.jpg" alt="Profile image"> -->
   <p class="mb-1 mt-3 font-weight-semibold">{{user_name}}</p>
   <p class="font-weight-light text-muted mb-0">{{user_email}}</p>
     <p class="font-weight-light text-muted mb-0">{{user_role}}</p>

 </div>
 <a class="dropdown-item" href="/" target="_blank">My Profile</a>
 <a class="dropdown-item"@click.prevent="logoutUser" >Sign Out<i class="dropdown-item-icon ti-power-off"></i></a>
</div>
</li>


</ul>
</div>
</nav>
</template>

<script>

export default {
 name: 'NavbarHeader',
 data() {
  return {
    toggleSidebarBoolean: true,
    user_name: localStorage.getItem('name'),
    user_email: localStorage.getItem('email'),
    user_role: localStorage.getItem('role')
  }
},

methods: {
  toggleSidebar() {
    this.toggleSidebarBoolean = !this.toggleSidebarBoolean;
    this.setBodyClass();
  },

  setBodyClass() {
    this.$refs.menubarIcon.classList.toggle('text-dark')
    const body = document.body;
    body.classList.toggle('hide-sidebar')
    body.classList.toggle('show-sidebar')
  },

  logoutUser() {
    this.$store.dispatch('auth/logoutUser')
    this.$router.go({path: '/dashboard'})
  }
}
};

</script>