<template>
	<div class="row">
		<div class="col-lg-12 d-flex justify-center" style="zoom: .9">
			<div class="col-lg-9 grid-margin stretch-card mx-auto mt-3">
				<div class="card">
					<div class="card-body">
						<form
							@submit.prevent="performSubmit"
							@keyup.enter="$refs.submitform.click()"
						>
							<div class="row">
								<div class="col-lg-12 mb-2">
									<div class="jumbotron p-2">
										<h3>
											<b class="pr-2">PATIENT NAME:</b>
											{{ patient_name }}
										</h3>
										<h3>
											<b class="pr-2">ID:</b>
											{{ request.patient_id }}
										</h3>
									</div>
								</div>

								<div class="col-lg-12">
									<div class="row">
										<div class="col-lg-4">
											<div class="form-group">
												<label>Date of Checkup</label>
												<input
													type="date"
													v-model="
														request.date_of_check_up
													"
													class="form-control"
													required
												/>
											</div>
										</div>
										<div class="col-lg-2">
											<label>Weight</label>
											<div class="input-group">
												<div
													class="input-group-prepend"
												>
													<span
														class="input-group-text"
														>Kg.</span
													>
												</div>
												<input
													type="text"
													v-model="request.weight"
													class="form-control"
												/>
											</div>
										</div>
										<div class="col-lg-2">
											<label>Height</label>
											<div class="input-group">
												<div
													class="input-group-prepend"
												>
													<span
														class="input-group-text"
														>ft.</span
													>
												</div>
												<input
													type="text"
													v-model="request.height"
													class="form-control"
												/>
											</div>
										</div>

										<div class="col-lg-2">
											<label>Temperature</label>
											<div class="input-group">
												<div
													class="input-group-prepend"
												>
													<span
														class="input-group-text"
														>C</span
													>
												</div>
												<input
													type="text"
													v-model="
														request.temperature
													"
													class="form-control"
												/>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-4">
											<div class="form-group">
												<label>Complaints</label>
												<textarea
													required
													rows="3"
													v-model="request.complaints"
													class="form-control"
												></textarea>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<label>Findings</label>
												<textarea
													rows="3"
													v-model="request.findings"
													class="form-control"
												></textarea>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<label>Treatment</label>
												<textarea
													rows="3"
													v-model="request.treatment"
													class="form-control"
												></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="mt-4 pull-right">
								<router-link
									to="/checkups/patient-checkup-records"
									class="btn btn-light custom-btn-default  mr-2"
									>Cancel</router-link
								>
								<button
									ref="submitform"
									type="submit"
									class="btn custom-btn-red btn-danger"
									:disabled="disabled"
								>
									Submit
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	//'patient_id','date_of_check_up', 'treatment', 'findings', 'complaints', 'weight', 'temperature', 'height'

	data() {
		return {
			request: {
				patient_id: this.$route.params.id,
				date_of_check_up: moment(new Date()).format("YYYY-MM-DD"),
				complaints: "",
				findings: "",
				treatment: "",
				weight: "",
				height: "",
			},
			disabled: false,
		};
	},

	methods: {
		performSubmit() {
			this.disabled = true;

			this.$store
				.dispatch(
					"checkups/patient_checkup_records/createCheckup",
					this.request
				)
				.then((res) => {
					vm.toast(res.success, "success");
				})
				.catch((err) => {
					vm.toast(
						JSON.stringify(err) ||
							"error occured, contact administrator",
						"danger"
					);
				});

			setTimeout(() => {
				this.disabled = false;
			}, 3000);
		},
	},

	computed: {
		patient_name() {
			return this.$route.params.name;
		},
	},
	mounted() {},
};
</script>
