<template>
	<div class="px-4 py-2">
		<div class="row">
			<div class="col-lg-5">
				<Search @triggerSearch="filterSearch" v-model="search" />
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12" style="zoom: .8">
				<vue-good-table
					v-if="rows && rows.length > -1"
					:columns="columns"
					:rows="rows"
					mode="remote"
					:totalRows="pagination.total"
					@on-per-page-change="onPerPageChange"
					@on-page-change="onPageChange"
					@on-cell-click="onRowClick"
					@on-sort-change="onSortChange"
					:pagination-options="{
						enabled: true,
						perPage: pagination.per_page,
						setCurrentPage: pagination.current_page,
						mode: 'pages',
					}"
				>
					<template slot="table-row" slot-scope="props">
						<span v-if="props.column.field == 'show_edit_add'">
							<ul class="list-group d-flex flex-row">
								<li class="list-group-item mx-1 p-0">
									<button
										type="button"
										title="show records"
										@click="showRow(props)"
										class="btn social-btn btn-inverse-secondary"
									>
										<i
											class="fa  fa-folder-open text-dark"
										></i>
									</button>
								</li>

								<!-- <li class="list-group-item mx-1">
									<button type="button" title="edit records"  @click="editRow(props)" class="btn social-btn btn-inverse-secondary">
										<i class="fa fa-edit text-dark"></i>
									</button>
								</li> -->
								<li class="list-group-item mx-1 p-0">
									<button
										type="button"
										title="add record"
										@click="addRow(props)"
										class="btn social-btn btn-inverse-secondary"
									>
										<i class="fa  fa-plus text-dark"></i>
									</button>
								</li>
							</ul>
						</span>
					</template>
				</vue-good-table>

				<template v-else>
					<Skeleton height="700px" width="100%" />
				</template>
			</div>
		</div>
	</div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import headers from "./tableHeaders";
import Search from "@/views/components/Search";
import Skeleton from "@/views/components/Skeleton";

export default {
	components: {
		Search,
		Skeleton,
	},
	data() {
		return {
			isLoading: false,
			columns: headers.columns,
			search: "",
		};
	},

	created() {
		this.performfetchData();
	},

	computed: {
		...mapGetters({
			rows: "checkups/patient_checkup_records/getPatientCheckups",
		}),
	},

	methods: {
		performfetchData(nextPrev) {
			this.$store.dispatch(
				"checkups/patient_checkup_records/getPatientCheckupRecords",
				{ data: { search: this.search }, nextPrev }
			);
		},
		filterSearch(v) {
			this.performfetchData();
		},
		onPageChange(v) {
			this.performfetchData(`&page=${v.currentPage}`);
		},
		onSortChange(v) {
			this.isLoading = false;
		},

		onPerPageChange(v) {
			console.log(v.currentPerPage);
		},

		onRowClick(v) {
			// if (v.column.field != ["add"]) {
			// 	this.$router.push({
			// 		name: 'Edit Patient',
			// 		params: {
			// 			id: v.row.id
			// 		}
			// 	});
			// }
		},

		addRow(v) {
			this.$router.push({
				name: "Create Patient Checkup Records",
				params: {
					id: v.row.id,
					name: v.row.name,
				},
			});
		},

		showRow(v) {
			this.$router.push({
				name: "Show Patient Checkup Records",
				params: {
					id: v.row.id,
					name: v.row.name,
				},
			});
		},

		editRow(v) {
			this.$router.push({
				name: "Edit Patient Checkup Records",
				params: {
					id: v.row.id,
					name: v.row.name,
				},
			});
		},
	},

	computed: {
		...mapGetters({
			rows: "checkups/patient_checkup_records/getPatientCheckupRecords",
			pagination: "checkups/patient_checkup_records/getPagination",
		}),
	},

	mounted() {
		// console.log(this.account)
	},
};
</script>
