<template>
	<div class="row">
		<div class="col-md-12">
			<div class="white-box">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="jumbotron p-2">
								<h3>
									<b class="pr-2">PATIENT NAME:</b>
									{{ patient_name }}
								</h3>
								<h3>
									<b class="pr-2">ID:</b> {{ patient_id }}
								</h3>
							</div>
						</div>

						<div class="col-lg-12  mt-3 mb-2">
							<button
								type="button"
								@click="printPdf"
								class="btn pull-right btn-secondary"
							>
								<i class="fa fa-print text-light">
									Print Records</i
								>
							</button>
						</div>

						<div class="col-lg-12 ">
							<div class="table-responsive">
								<table
									class="table table-bordered"
									style="zoom: .8"
								>
									<thead class="custom-bg-main">
										<tr>
											<th
												style="width:8%"
												class="text-center text-nowrap"
											>
												CHECKUP DATE
											</th>
											<th
												style="width:7.4%;"
												class="text-center text-nowrap"
											>
												WEIGHT (Kg.)
											</th>
											<th
												style="width:7.4%;"
												class="text-center text-nowrap"
											>
												HEIGHT (Ft.)
											</th>
											<th
												style="width:7.4%;"
												class="text-center text-nowrap"
											>
												TEMP (C.)
											</th>
											<th
												style="width: 23%"
												class="text-center"
											>
												COMPLAINTS
											</th>
											<th
												style="width: 23%"
												class="text-center"
											>
												FINDINGS
											</th>
											<th
												style="width: 23%"
												class="text-center"
											>
												TREATMENT
											</th>
										</tr>
									</thead>
									<tbody
										v-if="rows && rows.length > -1"
										class="table-row"
									>
										<tr v-for="(item, index) in rows">
											<td style="width: 8%;" class="ml-3">
												{{ item.date_of_check_up }}
											</td>
											<td style="width: 7.4%">
												{{ item.weight }}
											</td>
											<td style="width: 7.4%">
												{{ item.height }}
											</td>
											<td style="width: 7.4%">
												{{ item.temperature }}
											</td>
											<td
												style="width: 23%; min-height: 200px;"
											>
												{{ item.complaints }}
											</td>
											<td
												style="width: 23%; min-height: 200px;"
											>
												{{ item.findings }}
											</td>
											<td
												style="width: 23%; min-height: 200px;"
											>
												{{ item.treatment }}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<PatientRecordsPDF
					ref="printPDF"
					:info="patientInfo"
					:records="rows"
				/>
			</div>
		</div>
	</div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import PatientRecordsPDF from "@/views/components/PatientRecordsPDF";

export default {
	components: {
		PatientRecordsPDF,
	},

	data() {
		return {
			patientInfo: null,
		};
	},

	created() {
		this.performfetchData();
		this.patientDetails();
	},

	methods: {
		performfetchData() {
			this.$store.dispatch(
				"checkups/patient_checkup_records/showCheckups",
				{ id: this.patient_id }
			);
		},

		printPdf() {
			this.$refs.printPDF.exportPdf();
		},

		patientDetails() {
			this.$store
				.dispatch("patients/getPatientInfo", this.$route.params.id)
				.then((res) => {
					console.log(res);
					this.patientInfo = res;
				});
		},
	},

	computed: {
		patient_name() {
			return this.$route.params.name;
		},

		patient_id() {
			return this.$route.params.id;
		},

		...mapGetters({
			rows: "checkups/patient_checkup_records/getShowCheckups",
		}),
	},
};
</script>
