<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
}

$fa-font-path: '~font-awesome/fonts/';
@import '~font-awesome/scss/font-awesome.scss';
// @import './assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css';
@import './assets/scss/main';
@import './assets/scss/_utils';
@import '@/assets/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min';
@import '@/assets/css/style';
@import '@/assets/css/animate';
@import '@/assets/css/colors/default';
</style>


