
@font-face {
  font-family: Poppins-Regular;
  src: url(assets/fonts/poppins/Poppins-Regular.ttf); 
}

@font-face {
  font-family: Poppins-Light;
  src: url(assets/fonts/poppins/Poppins-Light.ttf); 
}


@font-face {
  font-family: Poppins-Medium;
  src: url(assets/fonts/poppins/Poppins-Medium.ttf); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url(assets/fonts/poppins/Poppins-Bold.ttf); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(assets/fonts/poppins/Poppins-SemiBold.ttf); 
}





* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;

}

body, html {

	width: 100%;
	height: 100%;
	font-family: Poppins-Regular, Helvetica ,sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Light, Helvetica ,sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  cursor: pointer;
}

a:focus {
	outline: none !important;
}
.custom-bg-main{
  background: #7c7d7f;

  & th {
  color: #fff;
  }

}


a:hover {
	text-decoration: none;
  color: #d33f8d;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

 // design transition vue component
 .fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
//



.form-group .file-upload-default {
  visibility: hidden;
  position: absolute; }

  .form-group .file-upload-info {
    background: transparent; }

    .custom-btn-red {
     min-width:  100px;
     background: #E74C3C !important;
     color: #fff !important;
   }

   .custom-btn-default {
     min-width:  100px;

     background: #EDF1F5 !important;
     color: #54667A !important;
   }


/* 
 * Edit popoptoast header height
 */ 
 .toast-header{
  height: 25px !important;
}
.toast-body {
  padding-top: 1.2em !important;
  padding-bottom: 1.2em !important;
}
//
