<template>
    <div>

        <!-- ============================================================== -->
        <!-- Preloader -->
        <!-- ============================================================== -->
        <transition name="fade">
            <div class="preloader" v-if="showPreLoader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                </svg>
            </div>
        </transition>
        <!-- ============================================================== -->
        <!-- Wrapper -->
        <!-- ============================================================== -->
        <div id="wrapper">
            <!-- ============================================================== -->
            <!-- Topbar header - style you can find in pages.scss -->
            <!-- ============================================================== -->
            
            

            <NavbarHeader/>

            
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav slimscrollsidebar">
                    <div class="sidebar-head">
                        <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span
                            class="hide-menu">Navigation</span></h3>
                        </div>

                        <NavbarSide/>

                    </div>
                </div>
                <div id="page-wrapper" style="min-height='100vh'">
                    <div class="container-fluid">
                        <div class="row bg-title">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <h4 class="page-title">
                                    {{ route_to == '' ? $route.name : route_to}}
                                </h4>
                            </div>
                            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                                <ol class="breadcrumb">
                                    <template  v-if="route_to != '' && route_from != ''">
                                        
                                        <li class="breadcrumb-item active">
                                            <router-link :to="redirect_to">{{route_from}}</router-link>
                                        </li>
                                        <li class="breadcrumb-item ">
                                            {{route_to}}
                                        </li>

                                    </template>
                                    <li class="breadcrumb-item ">&nbsp;</li>
                                </ol>
                            </div>
                        </div>
                        
                        

                        <router-view></router-view>

                        
                    </div>

                </div>

            </div>
            <!-- <Footer/> -->

        </div>
    </template>

    <script>
    require('@/assets/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js')
    require('@/assets/js/jquery.slimscroll.js')
    require('@/assets/js/waves.js')
    // require ('@/assets/js/custom.js');


    import NavbarSide from '@/views/partials/NavbarSide.vue'
    import NavbarHeader from '@/views/partials/NavbarHeader.vue'
    import Footer from '@/views/partials/Footer.vue'

    export default {
        name: 'DefaultContainer',
        components:{
            NavbarSide,
            NavbarHeader,
            Footer
        },
        data() {
            return {
                showPreLoader: false,
                route_to: '',
                route_from: '',
                redirect_to: '/',

            }
        },
        mounted() {

           this.$nextTick(() => {

            this.showPreLoader = false

        })

       },
       watch: {
        "$route"(to,from) {

           this.redirect_to = from.path;
           this.route_from = from.name;
           this.route_to = to.name;
       }


   },
   methods: {


   }


};
</script>


