<template>
	<div class="row">
		<div class="col-lg-12 d-flex justify-center" style="zoom: .9">
			<div class="col-lg-9 grid-margin stretch-card mx-auto mt-3">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Name</label>
									<input type="text" class="form-control" />
								</div>
								<div class="form-group">
									<label>Occupation</label>
									<input type="text" class="form-control" />
								</div>

								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label>Gender</label>
											<select class="form-control">
												<option value="male"
													>male</option
												>
												<option value="female" selected
													>female</option
												>
											</select>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>Civil status</label>
											<select class="form-control">
												<option value="single" selected
													>single</option
												>
												<option value="married"
													>married</option
												>
												<option value="windowed"
													>windowed</option
												>
												<option value="separated"
													>separated</option
												>
											</select>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label>Resident address</label>
									<textarea
										rows="3"
										class="form-control"
									></textarea>
								</div>

								<div class="form-group">
									<label>File upload</label>
									<input
										type="file"
										class="file-upload-default"
									/>
									<div class="input-group col-xs-12">
										<input
											type="text"
											class="form-control file-upload-info"
											placeholder="Upload Image"
										/>
										<span class="input-group-append">
											<button
												class="file-upload-browse btn btn-secondary"
												type="button"
											>
												Upload
											</button>
										</span>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label>Tel number</label>
									<input type="text" class="form-control" />
								</div>
								<div class="form-group">
									<label>Mobile number</label>
									<input type="text" class="form-control" />
								</div>

								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label>Date of birth</label>
											<input
												type="date"
												class="form-control"
											/>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>Age</label>
											<input
												type="text"
												class="form-control"
											/>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label>Business address</label>
									<textarea
										rows="3"
										class="form-control"
									></textarea>
								</div>
							</div>
						</div>

						<div class="mt-4 pull-right">
							<router-link
								to="/patients"
								class="btn btn-light custom-btn-default  mr-2"
								>Cancel</router-link
							>
							<button
								type="submit"
								class="btn custom-btn-red btn-danger"
							>
								Submit
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: "edit_patient",
	data() {
		return {
			age: "",
			name: "",
			date_of_birth: "",
			resident_address: "",
			business_address: "",
			sex: "",
			civil_status: "",
			occupation: "",
			tel_no: "",
			mobile_no: "",
		};
	},
};
</script>
