<template>
	<div class="row">
		<div class="col-md-12">
			<div class="white-box">
				<div class="row">
					<div class="col-lg-10 mx-auto">
						<div class="row mb-4">
							<div class="col-lg-12" style="text-align:justify">
								<h5 class="">
									**Notes: Patients records are protected from
									unauthorized or unintentional removal of
									records. All removed records are
									soft-deleted. You may perform a manual
									search by patient records you want to be
									recovered or permament deleted.
								</h5>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-5">
								<Search
									@triggerSearch="filterSearch"
									v-model="search"
								/>
							</div>
							<div class="col-lg-7">
								<DateFilter />
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12" style="zoom: .8">
								<vue-good-table
									v-if="rows && rows.length > -1"
									:columns="columns"
									:rows="rows"
									mode="remote"
									:totalRows="pagination.total"
									@on-per-page-change="onPerPageChange"
									@on-page-change="onPageChange"
									@on-cell-click="onRowClick"
									@on-sort-change="onSortChange"
									:pagination-options="{
										enabled: true,
										perPage: pagination.per_page,
										setCurrentPage: pagination.current_page,
										mode: 'pages',
									}"
								>
									<template
										slot="table-row"
										slot-scope="props"
									>
										<span
											v-if="
												props.column.field ==
													'recover_delete'
											"
										>
											<ul
												class="list-group d-flex flex-row"
											>
												<li
													class="list-group-item mx-1"
												>
													<button
														type="button"
														title="perform recovery"
														class="btn social-btn btn-inverse-secondary"
													>
														<i
															class="fa  fa-recycle text-dark"
														></i>
													</button>
												</li>

												<li
													class="list-group-item mx-1"
												>
													<button
														type="button"
														title="perform force delete"
														class="btn social-btn btn-inverse-secondary"
													>
														<i
															class="fa fa-trash-o text-dark"
														></i>
													</button>
												</li>
											</ul>
										</span>
									</template>
								</vue-good-table>
								<template v-else>
									<Skeleton height="500px" width="100%" />
								</template>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import Search from "@/views/components/Search";
import DateFilter from "@/views/components/DateFilter";
import Skeleton from "@/views/components/Skeleton";

export default {
	name: "patients_records_recovery",
	components: {
		Search,
		DateFilter,
		Skeleton,
	},
	data() {
		return {
			isLoading: false,
			search: "",
			columns: [
				{
					field: "id",
					label: "ID",
					tdClass: "p-4",
				},
				{
					field: "name",
					label: "NAME",
					tdClass: "text-nowrap",
				},
				{
					field: "date_of_birth",
					label: "Date of birth",
				},
				{
					field: "sex",
					label: "GENDER",
				},
				{
					field: "deleted_at",
					label: "DELETED AT",
				},
				{
					field: "recover_delete",
					label: "RECOVER / PERMANENT DELETE",
				},
			],
		};
	},

	created() {
		this.performfetchData();
	},

	computed: {
		...mapGetters({
			rows: "patients/getPatientsRecordsRecovery",
			pagination: "patients/getPatientsRecordsRecoveryPagination",
		}),
	},

	methods: {
		performfetchData(nextPrev) {
			this.$store.dispatch("patients/getPatientsRecordsRecovery", {
				data: { search: this.search },
				nextPrev,
			});
		},

		filterSearch(v) {
			this.performfetchData();
		},

		onPageChange(v) {
			this.performfetchData(`&page=${v.currentPage}`);
		},

		onSortChange(v) {
			this.isLoading = false;
		},

		onPerPageChange(v) {
			console.log(v.currentPerPage);
		},

		onRowClick(v) {
			// if (v.column.field != ["deac_suspend_remove"]) {
			// 	this.$router.push({
			// 		name: 'Edit Patient',
			// 		params: {
			// 			id: v.row.id
			// 		}
			// 	});
			// }
		},
	},
};
</script>

<!--
'id' => $this->id,
'name' => $this->name,
'date_of_birth' => $this->date_of_birth,
'sex' => $this->sex -->

<style></style>
