<!-- <template>

	<div class="row">
		<div class="col-lg-12 d-flex justify-center" style="zoom: .8">
			<div class="col-lg-5 grid-margin stretch-card mx-auto mt-3">
				<div class="card">
					<div class="card-body">
						<form class="forms-sample" method="POST">
							<div class="form-group">
								<label>Name</label>
								<input type="text" class="form-control" name="name">
							</div>
							<div class="form-group">
								<label>Email address</label>
								<input type="email" class="form-control" name="email">
							</div>
							<div class="form-group">
								<label>Password</label>
								<input type="password" class="form-control"  name="password">
							</div>
						
						<div class="form-group">
							<label>User roles</label>
							<select class="form-control" v-model="role" name="role">
								<option value="super-admin">Super-admin</option>
								<option value="sub-admin" >Sub-admin</option>
								<option value="guest" selected>Guest</option>
							</select>
						</div>

						<div class="form-group mt-4 card p-2" v-if="role == 'sub-admin' || role == 'guest'">
							<label>User permission</label>

							<div>
								<label class="checkbox-inline px-2">
									<input type="checkbox" value="" class="mx-1">read
								</label>
								<label class="checkbox-inline px-2">
									<input type="checkbox" value="" class="mx-1">write
								</label>
								<label v-if="role !=='guest'" class="checkbox-inline px-2">
									<input type="checkbox" value="" class="mx-1">edit
								</label>
								<label v-if="role !=='guest'" class="checkbox-inline px-2">
									<input type="checkbox" value="" class="mx-1">remove
								</label>
							</div>
						</div>

						<div class="mt-4 pull-right">
							<router-link to="/accounts" class="btn btn-light custom-btn-default mr-2" >Cancel</router-link>
							<button type="submit" class="btn custom-btn-red btn-danger ">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

</template> -->

<script>
// import { mapState, mapActions, mapGetters } from "vuex";

// export default {
// 	name : 'edit_account',
// 	data() {
// 		return {
// 			role: 'sub-admin'
// 		}
// 	},
// 	computed: {
// 		...mapState('accounts', ['account']),
// 	},
// 	beforeCreate() {
// 		this.$store.dispatch('accounts/editAccount', this.$route.params.id)
// 	}
// };
</script>