<template>
	<div class="px-4 py-2">
		<div class="row">
			<div class="col-lg-5">
				<Search @triggerSearch="filterSearch" v-model="search" />
			</div>
			<div class="col-lg-7">
				<DateFilter />
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12" style="zoom: .8">
				<code class="text-dark mb-1 ml-1"
					>Click row to view details</code
				>

				<vue-good-table
					v-if="rows && rows.length > -1"
					:columns="columns"
					:rows="rows"
					mode="remote"
					:totalRows="pagination.total"
					@on-per-page-change="onPerPageChange"
					@on-page-change="onPageChange"
					@on-cell-click="onRowClick"
					@on-sort-change="onSortChange"
					:pagination-options="{
						enabled: true,
						perPage: pagination.per_page,
						setCurrentPage: pagination.current_page,
						mode: 'pages',
					}"
				>
					<template slot="table-row" slot-scope="props">
						<span v-if="props.column.field == 'remove'">
							<ul class="list-group d-flex flex-row">
								<li class="list-group-item mx-1 p-0">
									<button
										type="button"
										title="remove row"
										@click="deleteRow(props)"
										class="btn social-btn btn-inverse-secondary"
									>
										<i class="fa fa-trash-o text-dark"></i>
									</button>
								</li>
							</ul>
						</span>
					</template>
				</vue-good-table>

				<template v-else>
					<Skeleton height="700px" width="100%" />
				</template>
			</div>
		</div>
	</div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import headers from "./tableHeaders";
import Search from "@/views/components/Search";
import Skeleton from "@/views/components/Skeleton";
import DateFilter from "@/views/components/DateFilter";

export default {
	name: "checkups",
	components: {
		Search,
		Skeleton,
		DateFilter,
	},

	data() {
		return {
			isLoading: false,
			columns: headers.columns,
			search: "",
		};
	},

	created() {
		this.performfetchData();
	},

	methods: {
		performfetchData(nextPrev) {
			this.$store.dispatch("checkups/getCheckups", {
				data: { search: this.search },
				nextPrev,
			});
		},
		filterSearch(v) {
			this.performfetchData();
		},
		onPageChange(v) {
			this.performfetchData(`&page=${v.currentPage}`);
		},
		onSortChange(v) {
			this.isLoading = false;
		},

		onPerPageChange(v) {
			console.log(v.currentPerPage);
		},

		onRowClick(v) {
			// if (v.column.field != ["deac_suspend_remove"]) {
			// 	this.$router.push({
			// 		name: 'Edit Account',
			// 		params: {
			// 			id: v.row.id
			// 		}
			// 	});
			// }
		},

		deleteRow(v) {
			this.$store
				.dispatch("checkups/deleteCheckup", { id: v.row.id })
				.then((res) => {
					vm.toast(res.success, "success").then(() => {
						window.location.reload();
					});
				})
				.catch((err) => {
					vm.toast(
						JSON.stringify(err) ||
							"error occured, contact administrator",
						"danger"
					);
				});
		},
	},

	computed: {
		...mapGetters({
			rows: "checkups/getCheckups",
			pagination: "checkups/getPagination",
		}),
	},

	mounted() {
		// console.log(this.account)
	},
};
</script>
