<template>
	<div class="row">
		<div class="col-md-12">
			<div class="white-box">

				<div class="row">
					<div class="col-md-3">

					</div>
					
					<div class="col-md-3">
						<div class="form-group">
							<label>FROM</label>
							<input type="date" class="form-control">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>TO</label>
							<input type="date" class="form-control">
						</div>
					</div>
					<div class="col-md-3">
						
						<div class="button-group">
							<label>&nbsp;</label> <br>
							<!-- <input type="date" class="form-control"> -->
							<button class="btn btn-success">GENERATE</button>
						</div>
					</div>
					<div class="col-md-3">

					</div>
				</div>

			</div>
		</div>
	</div>
</template>

<script>

// import MainPage from '@/views/templates/MainPage'
export default {
	name: "Dashboard",
	components: {
    // MainPage

},
mounted() {



},
methods: {

	
}
};
</script>
