<template>

	<div class="row">
		<div class="col-lg-12 d-flex justify-center" style="zoom: .8">
			<div class="col-lg-5 grid-margin stretch-card mx-auto mt-3">
				<div class="card">
					<div class="card-body">
						<form class="forms-sample" @submit.prevent="performSubmit" v-if="account">
							<div class="form-group">
								<label>Name</label>
								<input type="text" class="form-control" v-model="account.name">
							</div>
							<div class="form-group">
								<label>Email address</label>
								<input type="email" class="form-control" v-model="account.email">
							</div>
							<div class="form-group">
								<label>Password</label>
								<input type="password" class="form-control"  v-model="account.password">
							</div>
						<!-- <div class="form-group">
							<label>Image upload</label>
							<input type="file" name="img[]" class="file-upload-default">
							<div class="input-group col-xs-12">
								<input type="text" class="form-control file-upload-info" placeholder="Upload Image">
								<span class="input-group-append">
									<button class="file-upload-browse btn btn-secondary" type="button">Upload</button>
								</span>
							</div>
						</div> -->
						<div class="form-group">
							<label>User roles</label>
							<select class="form-control" v-model="account.role">
								<option value="super-admin">Super-admin</option>
								<option value="sub-admin" >Sub-admin</option>
							</select>
						</div>

						<div class="form-group mt-4 card p-2" v-if="account.role && (account.role == 'sub-admin' || account.role == 'guest')">
							<label>User permission</label>

							<div>
								<label class="checkbox-inline px-2">
									<input type="checkbox" v-model="account.permissions.view" class="mx-1">view
								</label>
								<label class="checkbox-inline px-2">
									<input type="checkbox" v-model="account.permissions.create" class="mx-1">create
								</label>
								<label class="checkbox-inline px-2">
									<input type="checkbox" v-model="account.permissions.edit" class="mx-1">edit
								</label>
								<label class="checkbox-inline px-2">
									<input type="checkbox" v-model="account.permissions.remove" class="mx-1">remove
								</label>
							</div>

						</div>

						<div class="mt-4 pull-right">
							<router-link to="/accounts" class="btn btn-light custom-btn-default mr-2" >Cancel</router-link>
							<button type="submit"  :disabled="disabled" class="btn custom-btn-red btn-danger ">Update</button>
						</div>
					</form>

					<template v-else>
						<Skeleton height="600px" width="100%"/>
					</template>

				</div>
			</div>
		</div>
	</div>
</div>

</template>

<script>
import Skeleton from '@/views/components/Skeleton'

export default {
	components: {
			Skeleton
	},
	name : 'edit_account',
	data() {
		return {
			disabled: false,
			account: null
		}
	},
	computed: {

	},
	created() {
		this.$store.dispatch('accounts/editAccount', {id:this.$route.params.id}).then(res => {
			this.account = this.$store.getters['accounts/getAccount'];	
		})
	},

	methods: {
		performSubmit() {

			this.disabled = true; 

			this.$store.dispatch('accounts/updateAccount', this.account).then(res => {
				vm.toast(res.success, 'success');
			}).catch(err => {

				vm.toast(
					(JSON.stringify(err) || 'error occured, contact administrator')
					, 'danger');

			});

			setTimeout(() => {
				this.disabled = false;
			}, 3000);
			
		}
	}
};
</script>