<template>
	<div class="px-4 py-2">

		<div class="row">
			<div class="col-lg-5">
				<Search @triggerSearch="filterSearch" v-model="search"/>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-12" style="zoom: .8">
		<code class="text-dark mb-1 ml-1">Click row to update details</code>


				<vue-good-table v-if="rows && rows.length > -1"
					:columns="columns"
					:rows="rows"
					mode="remote"
					:totalRows="pagination.total"
					@on-per-page-change="onPerPageChange"
					@on-page-change="onPageChange"
					@on-cell-click="onRowClick"
					@on-sort-change="onSortChange"
					:pagination-options="{
					enabled: true,
					perPage: pagination.per_page,
					setCurrentPage: pagination.current_page,
					mode:'pages',
				}"
				>




					<template slot="table-row" slot-scope="props">


						<span v-if="props.column.field == 'deac_suspend_remove'">
							<ul class="list-group d-flex flex-row">
								<li  class="list-group-item mx-1 p-0">
									<button type="button" title="unsuspend" class="btn social-btn btn-inverse-secondary"
									@click="changeStatus({
									id: props.row.id,
									status: 1
								})"
									>
										<i class="fa fa-unlock text-dark"></i>
									</button>
								</li>
								<li class="list-group-item mx-1 p-0">
									<button type="button" title="supend" class="btn social-btn btn-inverse-secondary"
									@click="changeStatus({
									id: props.row.id,
									status: 0
								})"
									>
										<i class="fa fa-gavel text-dark"></i>
									</button>
								</li>
								<!-- <li class="list-group-item mx-1">
									<button type="button" title="remove row" @click="deleteRow(props)" class="btn social-btn btn-inverse-secondary">
										<i class="fa fa-trash-o text-dark"></i>
									</button>
								</li> -->
							</ul>
						</span>

						<span v-else-if="props.column.field == 'status'">
							<label :class="props.row.status == 1 ? 'badge-success':'badge-danger'" class="badge custom-min-width-label">{{props.row.status == 1 ? 'active':'inactive'}}</label>
						</span>
					</template>

				</vue-good-table>



				<template v-else>
					<Skeleton height="700px" width="100%"/>
				</template>
			</div>

		</div>




		<div class="row">
			<div class="col-lg-12 my-3">
				<router-link to="/accounts/create" class="btn btn-danger custom-btn-red btn-fw">Add account</router-link>
			</div>
		</div>
	</div>
</template>

<script>

import { mapGetters } from "vuex";
import headers from './tableHeaders'
import Search from '@/views/components/Search'
import Skeleton from '@/views/components/Skeleton'

export default {
	name: 'accounts',
	components: {
		Search,
		Skeleton
	},
	data() {
		return {
			isLoading: false,
			columns: headers.columns,
			parentData: null,
			search: ''
		}
	},

	created() {
		this.performfetchData();
	},

	methods: {
		performfetchData(nextPrev) {
			this.$store.dispatch('accounts/getAccounts',{data:{search: this.search}, nextPrev})
		},

		filterSearch(v) {
			this.performfetchData();
		},

		onPageChange(v) {
			this.performfetchData(`&page=${v.currentPage}`);
		},

		onSortChange(v) {
			this.isLoading = false;
		},

		onPerPageChange(v) {

		},

		changeStatus(payload) {
		this.$store.dispatch('accounts/changeStatus', payload)
		.then(res => {
			if(res) {
				vm.swalSuccessMessage('Updated Successfully');
				this.performfetchData();
			}
		})
		.catch(err => {
			vm.swalErrorMessage(' ', err);
		})
		},

		onRowClick(params) {
			if (params.column.field != ["deac_suspend_remove"]) {
				this.$router.push({
					name: 'Edit Account',
					params: {
						id: params.row.id
					}
				});
			}
		},

		deleteRow(v) {
			this.$store.dispatch('accounts/deleteAccount', {id: v.row.id}).then(res => {
				vm.toast(res.success, 'success').then(()=> {
					window.location.reload();
				});
			}).catch(err => {
				vm.toast(
					(JSON.stringify(err) || 'error occured, contact administrator')
					, 'danger');
			});
		}
	},

	computed: {
		...mapGetters({
			rows: 'accounts/getAccounts',
			pagination: 'accounts/getPagination'
		})
	},

	mounted() {
			// console.log(this.account)
		}

	};
	</script>